<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head'); %>
</head>

<body>
  <header>
    <%- include ('../partials/header'); %>
  </header>

  <banner>
    <%- include ('../partials/banner'); %>
  </banner>

  <main>
    <div id="team" class="article-inverse">
      <img src="./img/image3.png" style="height: 500px;" />

      <div class="article-content">
        <h1>Présentation de l'équipe</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies luctus arcu eu euismod. Cras vitae
          tortor arcu. Vestibulum non nibh ante. Quisque ipsum tellus, tincidunt varius ultrices sed, placerat eget
          odio. Etiam pharetra nisi purus, eu tristique ligula luctus vitae. Curabitur aliquam arcu mauris, sed pulvinar
          quam euismod sed. Sed gravida, sapien quis fringilla lacinia, erat arcu cursus nisi, a sagittis erat massa
          eget urna. Aenean ullamcorper eleifend metus at bibendum. Donec at odio id diam feugiat fringilla eu et arcu.
        </p>

        <p>
          Mauris ante urna, sodales sed lobortis vitae, pellentesque eget orci. Donec id tristique ex, ut dictum sem.
          Aenean vulputate dignissim sem eu tristique. Etiam sagittis vulputate gravida. Maecenas pulvinar dignissim
          felis sit amet porttitor. Mauris eget molestie eros, nec efficitur sapien. Suspendisse potenti. Vivamus
          placerat fringilla finibus. Aliquam at vestibulum est. Etiam a vestibulum velit. Vestibulum vitae venenatis
          dui. Ut et lorem maximus, hendrerit nunc ut, accumsan mi. Morbi vulputate condimentum urna id pharetra. Nulla
          lacinia dapibus eros.
        </p>

        <p>
          Quisque vitae efficitur eros, eu vestibulum lacus. Nunc a ultrices tellus. Nullam ornare ut eros vel iaculis.
          Suspendisse ornare metus vel lacus vestibulum, nec lacinia nisl faucibus. Pellentesque in ornare purus. Donec
          tempor in quam non bibendum. Morbi a odio ac metus ornare pharetra. Donec molestie dapibus maximus. Sed
          volutpat mollis odio, eget blandit est pharetra eget. Sed vehicula mi nec eleifend malesuada. Nullam dapibus
          varius nulla volutpat gravida. Vivamus sed ornare ex. Donec ac auctor nulla. Sed rutrum porta eros eu
          pellentesque. Aenean volutpat hendrerit ornare. Sed dictum, dui ac porta imperdiet, libero tortor posuere
          eros, a tempus sem augue at risus.
        </p>
      </div>
    </div>

    <div id="discord" class="article">
      <div class="article-content">
        <h1>Discord</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies luctus arcu eu euismod. Cras vitae
          tortor arcu. Vestibulum non nibh ante. Quisque ipsum tellus, tincidunt varius ultrices sed, placerat eget
          odio. Etiam pharetra nisi purus, eu tristique ligula luctus vitae. Curabitur aliquam arcu mauris, sed pulvinar
          quam euismod sed. Sed gravida, sapien quis fringilla lacinia, erat arcu cursus nisi, a sagittis erat massa
          eget urna. Aenean ullamcorper eleifend metus at bibendum. Donec at odio id diam feugiat fringilla eu et arcu.
        </p>

        <p>
          Mauris ante urna, sodales sed lobortis vitae, pellentesque eget orci. Donec id tristique ex, ut dictum sem.
          Aenean vulputate dignissim sem eu tristique. Etiam sagittis vulputate gravida. Maecenas pulvinar dignissim
          felis sit amet porttitor. Mauris eget molestie eros, nec efficitur sapien. Suspendisse potenti. Vivamus
          placerat fringilla finibus. Aliquam at vestibulum est. Etiam a vestibulum velit. Vestibulum vitae venenatis
          dui. Ut et lorem maximus, hendrerit nunc ut, accumsan mi. Morbi vulputate condimentum urna id pharetra. Nulla
          lacinia dapibus eros.
        </p>

        <p>
          Quisque vitae efficitur eros, eu vestibulum lacus. Nunc a ultrices tellus. Nullam ornare ut eros vel iaculis.
          Suspendisse ornare metus vel lacus vestibulum, nec lacinia nisl faucibus. Pellentesque in ornare purus. Donec
          tempor in quam non bibendum. Morbi a odio ac metus ornare pharetra. Donec molestie dapibus maximus. Sed
          volutpat mollis odio, eget blandit est pharetra eget. Sed vehicula mi nec eleifend malesuada. Nullam dapibus
          varius nulla volutpat gravida. Vivamus sed ornare ex. Donec ac auctor nulla. Sed rutrum porta eros eu
          pellentesque. Aenean volutpat hendrerit ornare. Sed dictum, dui ac porta imperdiet, libero tortor posuere
          eros, a tempus sem augue at risus.
        </p>
      </div>

      <img src="./img/image3.png" style="height: 500px;" />
    </div>
  </main>

  <footer>
    <%- include ('../partials/footer'); %>
  </footer>

  <script src="./js/app.js"></script>
</body>

</html>