<!DOCTYPE html>
<html lang="en">





<head>
  <%- include ('../partials/head'); %>
</head>





<body>
  <nav>
    <%- include ('../partials/navigation'); %>
  </nav>





  <main>
    <banner>
      <%- include ('../partials/banner'); %>
    </banner>



    <div id="home" class="article-inverse">
      <img src="./img/logo-square.png" class="big" />

      <div class="article-content">
        <h1>Présentation de la communauté</h1>

        <p>
          Chers Invocateurs, Invocatrices, joueurs et joueuses en tout genre, moi c'est Khannelle, et avec mon équipe de
          communication, nous vous présentons donc notre communauté orientée multigaming et offrant la possibilité à
          tous et à toutes de s'exprimer librement au travers de créations diverses et variées. Nous vous proposons pour
          cela, sur notre discord, des mini jeux chaque vendredi soir, ainsi que des masterclass dessin, montage vidéo,
          développement et bien plus encore , comme du JDR.
        </p>
        <p>
          Sur notre plateforme discord, la devise est : FUN - RESPECT - GAMING (à graver dans le marbre !). Nous
          encourageons les créateurs et toutes personnes souhaitant participer à notre communauté et vie sur le discord.
          La bonne humeur est de mise, le respect de chacun également. Initialement nous sommes une communauté composée
          de joueurs de League of legend mais vous pouvez venir de tous jeux et tous horizons, nous vous accepterons
          avec plaisir !
        </p>

        <p>
          N'hésitez pas à checker les nouveautés sur notre discord !
          <br>
          N'oubliez pas notre devise : <b>FUN-RESPECT-GAMING !!!</b>
        </p>
      </div>
    </div>

    <div id="team" class="article">
      <div class="article-content">
        <h1>Présentation de l'équipe</h1>

        <div class="team-member">
          <img src="./img/chibi-shadow.png" class="chibi">

          <div>
            <h2>Gérant de la communauté :</h2>

            <h3 style="color: #555555;">Shadow</h3>

            <p>Vieux geek chevelu de la team, plutôt à caresser dans le sens du poil, ne mord que si on l'attaque, vous
              êtes prévenus !</p>
          </div>
        </div>
        
        <div class="team-member">
          <img src="./img/chibi-nep-voodoo.png" class="chibi">

          <div>
            <h2>Manager Pôle Discord :</h2>

            <h3 style="color: #555555;">MathieuX05</h3>

            <p>Dessiner, c'st ma passion. Je suis représentant du pôle Discord de la communauté Ryokan, là où la
              communauté peut discuter, jouer et rigoler ensemble. Etant moi-même un joueur averti, je participe souvent
              a toutes sortes de jeux possibles pour mettre l'ambiance a son maximum. Vous me trouverez, bien sûr, sur
              Discord, mais aussi sur les réseaux sociaux, principalement Twitter.</p>
          </div>
        </div>

        <div class="team-member">
          <img src="./img/chibi-gargarenris.png" class="chibi">

          <div>
            <h2>Manager Pôle Développement :</h2>

            <h3 style="color: #555555;">Gargarenris</h3>

            <p>Développeur, gamer, cinéphile, anime lover...geek en court.
              Je viens du pays où on finit ces phrases par "une fois" et où on prononce 90, "nonante".
              Si vous passez par le serveur n'hésitez pas à me faire un petit coucou j'essaierai de répondre quand je ne
              suis pas occupé à développer. &#128540;

              Si jamais vous êtes intéressés par une place un peu plus active dans la communauté je suis toujours à la
              recherche d' escl... Assistants!!! pour m'aider dans du développement. Envoyer moi un message privé si
              vous êtes intéressés.

              Questions jeux: vous me trouverez généralement sur League of Legends, Overwatch et Starcraft 2 ou alors
              des jeux de stratégie.
              Si vous voulez venir me trouver avec des projets: oui... mais c'est pas toi qui décide !</p>
          </div>
        </div>

        <div class="team-member">
          <img src="./img/chibi-azazyx.png" class="chibi">

          <div>
            <h2>Assistant Pôle Communication, Discord et Events :</h2>

            <h3 style="color: #555555;">Azazyx</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies luctus arcu eu euismod.</p>
          </div>
        </div>

        <div class="team-member">
          <img src="./img/chibi-kiri.png" class="chibi">

          <div>
            <h2>Manager Pôle Events et Marketing :</h2>

            <h3 style="color: #555555;">Kirihayata</h3>

            <p>Cuisine, voyage et sports, voilà les trois mots qui me définissent.
              J'adore la nourriture et les jeux vidéos, mais surtout la nourriture !
              Actuellement je suis étudiant dans le digital, et j'occupe la partie marketing de Ryokan.
              Si vous avez des questions n'hésitez pas à venir me voir, et on mangera des cookies ensemble.</p>
          </div>
        </div>

        <div class="team-member">
          <img src="./img/chibi-cachou.png" class="chibi">

          <div>
            <h2>Assistant Pôle Events :</h2>

            <h3 style="color: #555555;">ArnaudCachou</h3>

            <p>Futur programmeur de jeux vidéo, j'adore cuisiner sur mon temps libre.
              Je travaille pour le Pôle team pour l'organisation des tournois actuellement.
              Et Belge &#9829; </p>
          </div>
        </div>
      

        <div class="team-member">
          <img src="./img/chibi-ryuken.png" class="chibi">
    
          <div>
            <h2>Assistant Pôle Communication :</h2>
    
            <h3 style="color: #555555;">Ryuken</h3>
    
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies luctus arcu eu euismod.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="discord" class="article-inverse">
      <img src="./img/discord-image.png" style="height: 200px; padding: 5% 5% 5% 0;" />

      <div class="article-content">
        <h1>Discord</h1>
        <p>
          Nous sommes implantés sur Discord en attendant la version finale de notre site.
        </p>
        <p>Venez nous soutenir sur le lien suivant: </p>
        <a href="https://discord.gg/PJm3ym9" style="color: white;">Lien Discord</a>
      </div>
    </div>

    <div id="contact" class="article">
      <div class="article-content">
        <h1>Contact</h1>
        <form class="contact-form">
          <div class="contact-form-input">
            <input placeholder="Email">
          </div>
          <div class="contact-form-input">
            <select>
              <option>Choisir une catégorie...</option>
              <option>Communication</option>
              <option>Développement</option>
              <option>Discord</option>
              <option>Plainte</option>
              <option>Site</option>
              <option>Support</option>
            </select>
          </div>
          <div class="contact-form-input">
            <input placeholder="Sujet">
          </div>
          <div class="contact-form-input">
            <textarea placeholder="Message"></textarea>
          </div>
          <div class="contact-form-submit">
            <button>Envoyer</button>
          </div>
          <!-- Réponse automatique: Mail qui dis on vous répondra dans les 48h-->
        </form>
      </div>
    </div>
  </main>

  <footer>
    <%- include ('../partials/footer'); %>
  </footer>

  <script src="./js/app.js"></script>
</body>

</html>