<nav>
  <img class="logo" src="./img/logo.png" />

  <div class="nav-menu">
    <span class="nav-item"><i class="material-icons">home</i></span>
    <span class="nav-item"><i class="material-icons">supervisor_account</i></span>
    <span class="nav-item"><img src="./img/discord.svg" /></span>
  </div>
</nav>

<div class="banner">
  <img src="./img/banner.png" />
</div>