<nav>
  <a href="#" class="logo"><img class="logo" src="./img/logo.png" /></a>

  <div class="nav-menu">
    <a href="#" class="nav-item"><i class="material-icons">home</i></a>
    <a href="#" class="nav-item"><i class="material-icons">supervisor_account</i></a>
    <a href="#" class="nav-item"><img src="./img/discord.svg" /></a>
  </div>
  </div>
</nav>

<div class="banner">
  <img src="./img/banner.png" />
</div>