<a href="#" class="logo"><img class="logo" src="./img/logo.png" /></a>

<div class="nav-menu">
  <a href="#home" class="nav-item"><i class="material-icons">home</i></a>
  <a href="#team" class="nav-item"><i class="material-icons">supervisor_account</i></a>
  <a href="#discord" class="nav-item"><img src="./img/discord.svg" /></a>
  <a href="#contact" class="nav-item"><i class="material-icons">email</i></a>
</div>