/* Global Modifications */
html {
  font-family: "Sulphur Point", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", cursive;
}

body {
  min-height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 780px) {
  body {
    width: 100%;
  }
}





/* Structural modifications */
header {
  background-color: #0a1441;
}

main {
  flex: 1;
  background-color: white;
}

footer {
  padding: 0 5%;

  color: white;
  background-color: #de1516;
}





/* Navigation - Navbar */
nav {
  padding: 0 2%;

  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 780px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}

nav .logo {
  padding: 2%;

  cursor: pointer;
}
nav .logo:hover {
  border-radius: 50%;
  box-shadow: inset 0 0 50px #122474;
}
nav .logo img {
  height: 55px;
  vertical-align: middle;
}

nav .nav-menu {
  width: 100%;
  padding: 0 2%;

  display: flex;
  justify-content: space-evenly;
}

nav .nav-menu .nav-item {
  padding: 2% 5%;

  display: flex;
  align-items: center;

  color: white;
  cursor: pointer;
  text-decoration: none;
}
nav .nav-menu .nav-item:hover {
  background-color: #122474;
}

nav .nav-menu .nav-item i {
  font-size: 30px;
}

nav .nav-menu .nav-item img {
  height: 30px;
  min-height: 30px;

  filter: invert(100%);
}





/* Banner */
.banner {
  width: 100%;

  display: flex;
  justify-content: center;

  color: white;
  background-color: white;
}
.banner img {
  width: 100%;
  height: 650px;
}



.article {
  padding: 0 5%;

  display: flex;
}
@media screen and (max-width: 780px) {
  .article {
    flex-direction: column;
  }
}

.article-inverse {
  padding: 0 5%;

  display: flex;

  color: white;
  background-color: #0a1441;
}
@media screen and (max-width: 780px) {
  .article-inverse {
    flex-direction: column;
  }
}

.article-content {
  padding: 2% 0;
}