/* Global Modifications */
html {
  font-family: "Sulphur Point", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", cursive;
}

body {
  margin: auto;

  display: flex;
  flex-direction: column;
}





/* Structural modifications */
nav {
  width: 100vw;
  height: 15vh;

  padding: 0 2%;

  display: flex;
  flex-direction: row;

  position: fixed;
  
  background-color: #0a1441;
  border-bottom: 3px solid #de1516;
}

main {
  background-color: white;

  margin-top: 15vh;
}

footer {
  color: white;
  background-color: #0a1441;
  border-top: 3px solid #de1516;
}


/* Navbar */
nav .logo {
  display: flex;
  align-items: center;

  cursor: pointer;
}

nav .logo img {
  height: 14vh;
}

nav .nav-menu {
  width: 100%;

  padding: 0 2%;

  display: flex;
  justify-content: space-evenly;
}

nav .nav-menu .nav-item {
  padding: 2% 5%;

  display: flex;
  align-items: center;

  color: white;
  text-decoration: none;

  cursor: pointer;
}

nav .nav-menu .nav-item:hover {
  background-color: #de1516;
}

nav .nav-menu .nav-item i {
  font-size: 30px;
}

nav .nav-menu .nav-item img {
  height: 30px;
  min-height: 30px;
}

/* Main Content */

/* Banner */
#banner {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

#banner img {
  width: 100%;
  height: 100%;
}


/* Article light */
.article {
  padding: 0 5%;

  display: flex;
  align-items: center;

  color: black;
  background-color: #FFD4A3;
}



/* Article dark */
.article-inverse {
  padding: 0 5%;

  display: flex;
  align-items: center;

  color: white;
  background-color: #0a1441;
}



/* Articles content */
.article-content {
  width: 100%;
  padding: 2% 2%;
}



.article img.small, .article-inverse img.small {
  height: 200px;

  padding: 3% 0;
}

.article img.medium, .article-inverse img.medium {
  height: 300px;

  padding: 3% 0;
}

.article img.big, .article-inverse img.big {
  height: 400px;

  padding: 3% 0;
}



.article .team-member {
  width: 100%;

  display: flex;
}

.article .team-member.right {
  justify-content: flex-end;
}

.article .team-member.right h2, .article .team-member.right h3 {
  text-align: right;
}

.article .team-member img.chibi {
  height: 200px;
}

.article .team-member h3 {
  color: #555555;
}



/* Contact form */
.contact-form-input {
  padding: 5px;

  width: 80%;
  background-color: #0A1441;

  border: solid 3px #de1516;
  border-radius: 3px;
}
.contact-form-input > input, select, textarea {
  width: 100%;
  border: none;
  outline: 0;

  color: #ffffff;
  font-family: "Sulphur Point", sans-serif;
  background-color: #0A1441;
}
.contact-form-input > input::placeholder, textarea::placeholder {
  color: #ffffff;
}
.contact-form-input > input, select {
  height: 30px;
}

.contact-form-input > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contact-form-input > select > option {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.contact-form-input > textarea {
  height: 200px;
  resize: none;
}

.contact-form-submit {
  width: 80%;
  display: flex;
  justify-content: center;
}

.contact-form-submit > button {
  margin: 1rem 0;
  padding: 1rem 5rem;

  border: solid 3px #0a1441;
  border-radius: 3px;

  color: #ffffff;
  background-color: #de1516;
}

.contact-form-submit > button:hover {
  cursor: pointer;
  font-weight: bold;
}



/* Footer content */
.footer-content {
  padding: 5% 5% 0;
}



.copyright {
  padding: 1% 0 0;

  border-top: 2px solid white;
}